:root{
    --back-color:#252525;
    --main-color:#222;
    --sec-color:#333;
    --radius:16px;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins";
    box-sizing: border-box;
    color: white;
}
body{
    background-color: var(--back-color);
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}
.nav-bar{
    width: 100%;
    background-color: var(--main-color);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.nav-bar .nav-logo{
    font-size: 20px;
}
.nav-bar .nav-logo span{
    text-shadow: rgb(255, 255, 255) 1px 0 15px;
    color: rgb(255, 255, 255);
    filter: brightness(150%);
}
.nav-bar ul{
    list-style: none;
}
.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .name{
    font-size: 20px;
    font-weight: bold;
}
.banner{
    padding: 1rem 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    margin: 1rem 0;
    border-radius: var(--radius);
}
.section{
    width: 90%;
    margin: 1rem 0;
}
.banner .banner-text{
    font-size: 50px;
    padding: 1rem;
    width: fit-content;
    font-family: "Montserrat";
    font-weight: 900;
    display: flex;
    flex-flow: column nowrap;
}
.banner button {
    position: relative;
    display: flex;
    align-items: baseline;
    padding: 5px 17px 5px 12px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    width: fit-content;
    margin-top: 1rem;
    cursor: pointer;
}
.banner a{
    text-decoration: none;
}
.banner button p{
    z-index: 2;
}
.banner button svg {
    position: relative;
    left: 5px;
    width: 15px;
    fill: #fff;
    z-index: 2;
}
.banner button .btn-background {
    position: absolute;
    top: 0;
    left: 23px;
    right: 0;
    height: 100%;
    background-color: #0f33ff;
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out;
}
.banner button:hover .btn-background{
    left: 0;
}
.banner img{
    width: 35%;
}
@media only screen and (max-width:700px){
    .banner img{
        border-bottom-right-radius: 25px;
    }
    .banner img,.banner-text{
        width: 100%;
    }
}
@media screen and (max-width:1024px) and (min-width:700px){
    .banner-text{
        font-size: 25px !important;
    }
}
.experiences{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: var(--radius);
    background-color: #333;
}
.experience{
    width: calc(100% / 3 - 1rem);
    text-align: center;
}
.experience h3{
    font-family: "Montserrat";
}
@media only screen and (max-width:700px){
    .experience{
        width: 100%;
        margin-bottom: 1rem;
    }
}
.skills{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
    padding: 1rem;
    background-color: #333;
    border-radius: var(--radius);
}
.skills img{
    width: 50px;
    height: 50px;
}
@media only screen and (max-width:1000px){
    .skills{
        overflow-x: scroll;
    }
}